<%- include('templates/header', {tittle: "Inicio"}) %>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <button type="button" onclick="window.location='/web/generategame'" class="btn btn-dark">
                Empezar Trivia  <img src="../public/images/playGame.png" alt="Empezar Trivia" class="img-fluid imgIcon" />
            </button>
        </div>
        <div class="col-md-12 mt-3 p-5">
            <h3>Puntajes</h3>
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Puntaje</th>
                        <th scope="col">%</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <% let i = 1; %>
                    <% if (playerScoreArray.length > 0) { %>            
                        <% playerScoreArray.forEach(score => { %>
                            <tr>
                                <td class="text-center"><%= i++; %>
                                    <% if (i<=4) { %>
                                        <img src="/../public/images/trophy.png" alt="Trophy" class="img-fluid imgIcon" />
                                    <% } else { %>
                                        <img src="/../public/images/medal.png" alt="Medal" class="img-fluid imgIcon" />
                                    <% } %> 
                                    </td>
                                <td><%= score.name %></td>
                                <td><%= score.score %> / 3</td>
                                <td><%= score.porcentage %> %</td>
                                <td><%= score.date %></td>
                            </tr>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="5" class="text-center"><%= message %></td>
                            </tr>
                        <% } %>
                    
                </tbody>
            </table>
    </div>
</div>

<%- include('templates/footer') %>