<%- include('templates/header', {tittle: "Jugando"}) %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-5">
            <h2>Trivia</h2>
            <div class="card-deck">
                <div class="card p-5">

                    <form action="/web/finishedtrivia" method="POST"> 

                    <% for (var i = 0; i < randomTriviaQuestion.length; i++) { %>
                        <input type="hidden" name="id" value="<%= randomTriviaQuestion[i].id %>" required> 
                        <% let arrayAnswers = [randomTriviaQuestion[i].answer1, randomTriviaQuestion[i].answer2, randomTriviaQuestion[i].answer3, randomTriviaQuestion[i].answer4, randomTriviaQuestion[i].answer5 ] %>

                        <% let randomArray = [] %>
                        <% for (var j = 0; j < 5; j++) { %>
                            <% let randomNumber = Math.floor(Math.random() * 5) %>
                            <% if (randomArray.includes(randomNumber)) { %>
                                <% j-- %>
                            <% } else { %>
                                <% randomArray.push(randomNumber) %>
                            <% } %>
                        <% } %>
                        
                        <fieldset class="mb-3">
                        <legend>* <%=randomTriviaQuestion[i].question %></legend>
                        
                        <% for (var j = 0; j < arrayAnswers.length; j++) { %>
                            <% let name = "question" + (i + 1) +"answers" %>
                            <% if (arrayAnswers[randomArray[j]] != "") { %>
                                <div class="form-check">
                                    <label class="form-check-label" for="<%= name %>">
                                        <input class="form-check-input" type="radio" name="<%= name %>" id="<%= name %>" value="<%= arrayAnswers[randomArray[j]] %>" required>
                                        <%= arrayAnswers[randomArray[j]] %>
                                    </label>
                                </div>
                            <% } %>
                        <% } %>
                        </fieldset>  
                    <% } %>
                    <button type="submit" class="btn btn-primary mt-3">Enviar Respuesta</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

</script>
<%- include('templates/footer') %>