<%- include('templates/header', {tittle: "Jugando", userName: userName, userType: userType}) %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-5">
            <h2 class="text-center">Trivia</h2>
            <% if(userName == "Anónimo") { %>
                <small class="text-danger fw-bold">* No ha iniciado sesión, su puntaje será registrado como "Anónimo" *</small><br>
                <small class="text-danger fw-bold">* Para registrar su puntaje con su nombre de usuario debe <a href="/web/login">Iniciar Sesión</a> *</small>
            <% } %>
            <div class="card-deck">
                <div class="card p-4">
                        <form action="/web/finishedtrivia" method="POST"> 

                    <% for (var i = 0; i < randomTriviaQuestion.length; i++) { %>
                        <input type="hidden" name="id" value="<%= randomTriviaQuestion[i].id %>" required> 
                        <% let arrayAnswers = [randomTriviaQuestion[i].answer1, randomTriviaQuestion[i].answer2, randomTriviaQuestion[i].answer3, randomTriviaQuestion[i].answer4, randomTriviaQuestion[i].answer5 ] %>

                        <% let randomArray = [] %>
                        <% for (var j = 0; j < 5; j++) { %>
                            <% let randomNumber = Math.floor(Math.random() * 5) %>
                            <% if (randomArray.includes(randomNumber)) { %>
                                <% j-- %>
                            <% } else { %>
                                <% randomArray.push(randomNumber) %>
                            <% } %>
                        <% } %>
                        
                        <fieldset class="mb-3">
                        <legend>* <%=randomTriviaQuestion[i].question %></legend>
                        <% for (var j = 0; j < arrayAnswers.length; j++) { %>
                            <% let name = "question" + (i + 1) +"answers" %>
                            <% let identificador = "question" + (i+1) + "idInput"+j %>                          
                            <% if (arrayAnswers[randomArray[j]] != "") { %>
                                <input type="radio" name="<%= name %>" value="<%= arrayAnswers[randomArray[j]] %>" id="<%= identificador %>">
                                <label for="<%= identificador %>"><%= arrayAnswers[randomArray[j]] %></label>
                            <% } %>
                        <% } %>
                        </fieldset>  
                    <% } %>
                    <button type="submit" class="btn btn-dark mt-3">Enviar Respuesta</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

</script>
<%- include('templates/footer') %>